AUTH_SECRET=""
NEXTAUTH_URL="https://cipherstore.online"

# SMTP Settings (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="cipherstore452@gmail.com"
SMTP_PASS=""
